# OnePlus 6
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00=y
CONFIG_BATTERY_BQ27XXX=m
# Touchscreen
CONFIG_HID_RMI=m
CONFIG_RMI4_CORE=m
CONFIG_RMI4_I2C=m
CONFIG_RMI4_F55=y

CONFIG_FW_LOADER_USER_HELPER_FALLBACK=y
CONFIG_I2C_SLAVE=y

CONFIG_BATTERY_PMI8998_FG=m


CONFIG_FF_MEMLESS=y
CONFIG_INPUT_PMI8998_HAPTICS=y

# TEST
CONFIG_VT=y

CONFIG_DRM_MSM=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_QCOM_LLCC=y

CONFIG_USB_ETH=y
CONFIG_USB_GADGETFS=y
CONFIG_USB_FUNCTIONFS=y
CONFIG_USB_FUNCTIONFS_ETH=y
CONFIG_USB_FUNCTIONFS_RNDIS=y
CONFIG_USB_FUNCTIONFS_GENERIC=y
CONFIG_USB_G_SERIAL=y