
CONFIG_LOCALVERSION="-sdm845"

# OnePlus 6
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00=y
CONFIG_BATTERY_BQ27XXX=m
CONFIG_HID_RMI=m
CONFIG_RMI4_CORE=m
CONFIG_RMI4_I2C=m
CONFIG_RMI4_F55=y

# Pocophone F1
CONFIG_DRM_PANEL_NOVATEK_NT36672A=y
CONFIG_DRM_PANEL_EBBG_FHD_FT8719=y
CONFIG_TOUCHSCREEN_NT36XXX=m
CONFIG_TOUCHSCREEN_FTS=m
CONFIG_QCOM_GPI_DMA=m
CONFIG_SND_SOC_TAS2559=m

# SOC
CONFIG_NR_CPUS=8
CONFIG_SCSI_UFS_QCOM=y
CONFIG_QCOM_GSBI=y
CONFIG_QCOM_LLCC=y
CONFIG_QCOM_OCMEM=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_QCOM_SOCINFO=y
CONFIG_QCOM_WCNSS_CTRL=y
CONFIG_QCOM_APR=y
CONFIG_POWER_RESET_QCOM_PON=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_QCOM_LMH=y

# Earlycon
CONFIG_SERIAL_QCOM_GENI=y
CONFIG_SERIAL_QCOM_GENI_CONSOLE=y
CONFIG_QCOM_GENI_SE=y

CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QUSB2=y

# Disable venus to prevent db845c dying
CONFIG_VIDEO_QCOM_VENUS=n

# Remoteproc
CONFIG_SLIMBUS=y
CONFIG_SLIM_QCOM_CTRL=y
CONFIG_SLIM_QCOM_NGD_CTRL=y
CONFIG_REMOTEPROC_CDEV=y

# Battery
CONFIG_BATTERY_QCOM_FG=m
CONFIG_CHARGER_QCOM_SMB2=m
CONFIG_QCOM_SPMI_RRADC=m

# Graphics
CONFIG_DRM=y
CONFIG_FB=y
CONFIG_DRM_FBDEV_EMULATION=y
CONFIG_FB_SIMPLE=y
CONFIG_DRM_MSM=y

# Brightness Control
CONFIG_REGULATOR_QCOM_LABIBB=y
CONFIG_BACKLIGHT_QCOM_WLED=m

# Haptics
CONFIG_FF_MEMLESS=y
CONFIG_INPUT_QCOM_SPMI_HAPTICS=m