# Already enabled
CONFIG_QCOM_LLCC=m
CONFIG_QCOM_RMTFS_MEM=m

# needed in ramdisk
CONFIG_DRM_MSM=m
CONFIG_DRM_PANEL_SAMSUNG_SOFEF00=m
CONFIG_PHY_QCOM_QMP=m
CONFIG_PHY_QCOM_QUSB2=m
COMMON_CLK_QCOM=m
CONFIG_SDM_GCC_845=m
CONFIG_SDM_GPUCC_845
CONFIG_SDM_VIDEOCC_845=m
CONFIG_SDM_DISPCC_845=m
CONFIG_SDM_LPASSCC_845=m
REGULATOR_QCOM_RPMH=m
REGULATOR_QCOM_SMD_RPM=m
REGULATOR_QCOM_SPMI=m

# Needed for sdm845
CONFIG_SCSI_UFSHCD_PLATFORM=m
CONFIG_SCSI_UFS_QCOM=m
CONFIG_QCOM_LMH=m
CONFIG_QCOM_SMEM=m
CONFIG_HWSPINLOCK=y

CONFIG_QCOM_OCMEM=m
CONFIG_QCOM_SOCINFO=y
CONFIG_QCOM_WCNSS_CTRL=m
CONFIG_QCOM_APR=m
CONFIG_POWER_RESET_QCOM_PON=m
CONFIG_SPMI=m
MFD_SPMI_PMIC=m
CONFIG_QCOM_SPMI_TEMP_ALARM=m
CONFIG_QCOM_SPMI_ADC_TM5=m
CONFIG_SLIMBUS=m
CONFIG_SLIM_QCOM_CTRL=m

CONFIG_REMOTEPROC=y
CONFIG_QCOM_SYSMON=m
CONFIG_RPMSG_QCOM_SMD=m
CONFIG_QCOM_Q6V5_ADSP=m
CONFIG_QCOM_Q6V5_MSS=m
CONFIG_QCOM_Q6V5_PAS=m
CONFIG_QCOM_Q6V5_WCSS=m
CONFIG_QCOM_WCNSS_PIL=m

CONFIG_RPMSG_CHAR=m
CONFIG_RPMSG_QCOM_GLINK_RPM=m
CONFIG_RPMSG_QCOM_GLINK_SMEM=m

CONFIG_INTERCONNECT_QCOM=y
CONFIG_INTERCONNECT_QCOM_SDM845=m

# MAYBE